@charset "UTF-8";

@font-face {
    font-family: 'Star Wars';
    src: url("../fontes/star-wars.ttf") format("truetype");
}

:root {
    --font-dest: 'Star Wars';
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background-color: darkgrey;
    min-height: 100%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 9vh;
    font-family: var(--font-dest);
    color: yellow;
}

header > p {
    padding-bottom: 50px;
    font-size: 3vh;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 5vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section h2 {
    padding-bottom: 4vh;
    font-size: 6vh;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.440);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.530);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url("../imagens/tatooine.jpeg");
    background-position: center center;
}

section#img2 {
    background-image: url("../imagens/mustafar.jpg");
    background-position: center center;
}

section#img3 {
    background-image: url("../imagens/dagobah.jpeg");
    background-position: center center;
}

section#img4 {
    background-image: url("../imagens/alderaan.jpg");
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}